{% extends "AlphaLemonCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
<div class="fb-like" data-href="{{ options.url }}" data-send="{{ options.send }}" data-layout="{{ options.layout }}" data-width="{{ options.width }}" data-show-faces="{{ options.show_faces }}" data-font="{{ options.font }}" data-colorscheme="{{ options.colorscheme }}" data-action="{{ options.action }}" {{ editor|raw }}>fb-Like</div>
{% endblock %}
